<section class="about" id="about">
  <div class="about__container">
    <div class="about__label">Обо мне</div>

    <div class="about__visual">
      <!-- здесь может быть <img> или <model-viewer> -->
      <img src="../assets/img/m_for-me.jpg" alt="Екатерина Рейник" class="line-im" />
    </div>

    <div class="about__text">
      <p class="about__pd">
        В психологии с 1999 года. 14 лет проработала в сфере управления персоналом в крупных компаниях. С 2014 года веду
        частную практику. Постоянно учусь и развиваюсь в своей профессии. <br> <br>
        У меня базовое высшее психологическое образование, медицинское образование и множество сопутствующих
        специализаций в сфере психологии и здоровья.
        Веду личную терапию и консультирую преимущественно в онлайн. Провожу оффлайн групповые консультации,
        мастер-классы и тренинги в г. Челябинске и по запросу в других городах РФ. Создатель игры "Прорыв года".
        <strong></strong>
        <span class="muted"></span>
        <span class="muted"></span>
      </p>
      <div class="flex">
        <a href="../pages/about.html" class="btn-outline">Обо мне →</a>
        <a href="../pages/game.html" class="btn-outline ml-2">Игра "Прорыв года" →</a>
      </div>
    </div>
  </div>
</section>