<header class="header">
  <div class="container nav-container">
    <nav>
      <ul class="nav">
        <li><a href="../index.html">Главная</a></li>
        <li><a href="../pages/about.html">Обо мне</a></li>
        <li><a href="../pages/services.html">Услуги</a></li>
        <li><a href="../pages/faq.html">FAQ</a></li>
        <li><a href="../pages/reviews.html">Отзывы</a></li>
        <li><a href="#">Игра "Прорыв года"</a></li>
      </ul>
    </nav>
    <a href="#contact" class="btn-outline">Связаться</a>

  </div>
</header>