<div class="hero">
  <div class="container hero-grid">
    <div class="hero-text">
      <h1 class="title ">Психологическая помощь<br>от эксперта с опытом работы более 25 лет</h1>
      <p class="subtitle ">Быстрое решение проблемы, онлайн-формат, индивидуальный подход и конфиденциальность.</p>
      <!-- <h1 class="title rellax" data-rellax-speed="-2">Психологическая помощь<br>от эксперта с опытом работы более 25 лет</h1> -->
      <!-- <p class="subtitle rellax" data-rellax-speed="3">Онлайн-формат, индивидуальный подход и конфиденциальность.</p> -->
      <a href="#contact" class="btn-primary">Записаться на сессию</a>
    </div>

  </div>
  <div class="scroll-hint">
    <span>↓ Пролистайте вниз</span>
  </div>
  <div class="hero-visual">
  </div>
</div>