<div class="container">
    <div class="row link-c">
        <div class="link-cont col">
            <h2 id="contact" class="result-title">СВЯЗАТЬСЯ СО МНОЙ:</h2>
            <div class="row">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="link-bl">
            <a href="">
                <p class="l-el l-el-2">Группа ВК</p>
            </a>
            <a href="">
                <p class="l-el l-el-1">Группа ТГ</p>
            </a>
            <a href="">
                <p class="l-el l-el-3">Яндекс Дзен</p>
            </a>
            <a href="">
                <p class="l-el l-el-4">Тенчат</p>
            </a>
            <a href="">
                <p class="l-el l-el-5">Ютуб</p>
            </a>
            <a href="">
                <p class="l-el l-el-6">Рутуб</p>
            </a>
        </div>

    </div>
</div>