<section class="text-image-section services container">
  <div class="text-image-container">
    <!-- Левая часть -->
    <div>
      <div class="text-section">
  <div class="text-content">
    <div class="top-row">
      <div class="bottom-row text-box box-3">
      <div class="cicle"></div>
      <p>
        То, что происходит на консультации (сессии), зависит от индивидуальных потребностей и личностных качеств каждого человека, обращающегося за помощью. Поэтому каждая встреча уникальна, как и уникален любой человек. Нет универсального инструмента для всех. Я подбираю для вас те инструменты и методы, который наиболее подходят именно вам. С учётом особенностей вашей психики и вашего запроса.
      </p>
    </div>
      <div class="text-box box-1">
        <div class="cicle"></div>
        <p>
          Основной задачей психологической помощи считаю: видимое и измеримое улучшение качества жизни человека, развитие психологической гибкости, формирование внутренних опор, восстановление контакта с самим собой, и обретение баланса между своими внутренними проявлениями и внешним миром.
        </p>
      </div>
      <div class="text-box box-2">
        <div class="cicle"></div>
        <p>
          Я работаю как в краткосрочном, так и в долгосрочном форматах. <br>
          В краткосрочном формате использую: Психоанализ, РПТ, ЭОТ, НЛП, АСТ. <br>
          В долгосрочном — Экзистенциально-гуманистический подход, Системный коучинг.
        </p>
      </div>
    </div>
    
  </div>
</div>

    </div>

    <!-- Правая часть -->
    <div class="image-box">
    <h2 class="result-title">ОТЗЫВЫ КЛИЕНТОВ:</h2>

    <div class="otziv">
      <p class="text-ot-h1">Елена</p>
      <p>В ходе этой встречи вы понимаете, насколько мой метод работы и моя личность вам подходят, я - насколько моя квалификация и мои компетенции соответствуют вашему запросу.</p>
    </div>
    <div class="otziv">
      <p class="text-ot-h1">Илья</p>
      <p>В ходе этой встречи вы понимаете, насколько мой метод работы и моя личность вам подходят.</p>
    </div>
    
    <a href="../pages/reviews.html" class="btn-black">Больше отзывов →</a>

    </div>
  </div>
</section>