<section class="workflow">
  <div class="workflow__container container">
    <!-- Левая колонка: заголовок и номер этапа -->
    <div class="workflow__left">
      <h2 class="workflow__title" id="workflow-title">КАК СТРОИТСЯ РАБОТА</h2>
      <a href="../pages/services.html" class="btn-black">Услуги →</a>

    </div>

    <!-- Правая колонка: слайды -->
    <div class="workflow__right">
      <div class="workflow__slides">
        <div class="workflow__slide active" data-step="01">
          <div class="workflow__step">
        <span id="step-number">01</span>
      </div>
          <p>
            Вы записываетесь на бесплатную ознакомительную встречу и предварительно кратко излагаете тему и суть вашего запроса в Telegram, WhatsApp.
          </p>
        </div>
        <div class="workflow__slide active" data-step="02">
          <div class="workflow__step">
        <span id="step-number">02</span>
      </div>
          <p>
            Ознакомительная встреча длится до 30 минут. На ней мы уточняем запрос, определяем формат работы и проговариваем организационные моменты.
          </p>
        </div>
        <div class="workflow__slide active" data-step="03">
          <div class="workflow__step">
        <span id="step-number">03</span>
      </div>
          <p>
            Далее мы подбираем удобное время и количество сессий. Рекомендуется — 1 раз в неделю.
          </p>
        </div>
        <div class="workflow__slide active" data-step="04">
          <div class="workflow__step">
        <span id="step-number">04</span>
      </div>
          <p>
            После получения реквизитов, оплату необходимо произвести за сутки до начала сессии. Обязательно прислать скрин об оплате.
          </p>
        </div>
      </div>

      
    </div>
  </div>
</section>
