<section class="services">
  <div class="container">
    <div class="services__top">
      <div class="services__left">
        <!-- <p class="eyebrow">HOW WE CAN HELP YOU</p> -->
        <h2>
          Буду полезна, <br />
          <span class="image-title">
            <img src="images/service-icon.png" alt="." />
            если Вы:
          </span>
        </h2>
      </div>
      <div class="services__right">
        <p>
          IT solutions that improve organizational capabilities for high-paced product development, faster delivery of applications and services are still essential for every company to gain a competitive edge.
        </p>
        <p>
          Drive rapid growth and high value for your business with our proven, dynamic and scalable offerings.
        </p>
        <!-- <a href="#contact" class="btn-black">Lets Talk →</a> -->
      </div>
    </div>

    <div class="services__list">
      <div class="service-item">
        <div class="number">01</div>
        <h3>Хотите избавиться от неконтролируемых эмоциональных и инстинктивных реакций</h3>
        <p>страх, злость, тревога</p>
      </div>
      <div class="service-item">
        <div class="number">02</div>
        <h3>Хотите справиться со сложными чувствами и эмоциями </h3>
        <p>одиночество, бессмысленность, обида, стыд, вина</p>
      </div>
      <div class="service-item">
        <div class="number">03</div>
        <h3>Испытываете трудности в отношениях </h3>
        <p>с партнером, родителями, детьми, окружающими</p>
      </div>
      <div class="service-item">
        <div class="number">04</div>
        <h3>Чувствуете, что выгорели, испытываете стресс</h3>
        <p>эмоциональный и физический</p>
      </div>
      <div class="service-item">
        <div class="number">05</div>
        <h3>Не можете понять, чего хотите именно Вы </h3>
        <p></p>
      </div>
      <div class="service-item">
        <div class="number">06</div>
        <h3>Имеете неустойчивую самооценку, испытываете неуверенность в себе </h3>
        <p></p>
      </div>
      <div class="service-item">
        <div class="number">07</div>
        <h3>Имеете тревожные состояния, фобии, панические атаки </h3>
        <p></p>
      </div>
      <div class="service-item">
        <div class="number">09</div>
        <h3>Находитесь в кризисе  </h3>
        <p></p>
      </div>
      <div class="service-item">
        <div class="number">08</div>
        <h3>Имеете сложные отношения с едой </h3>
        <p>переедание, заедание, «не могу есть» и др.</p>
      </div>
      <div class="service-item">
        <div class="number">10</div>
        <h3>Прокрастинируете </h3>
        <p>откладываете важные дела на потом</p>
      </div>
      <div class="service-item">
        <div class="number">11</div>
        <h3>Имеете психосоматические симптомы  </h3>
        <p>и «лекарства не помогают»</p>
      </div>
      <div class="service-item">
        <div class="number">12</div>
        <h3 class="red">Не работаю </h3>
        <p>С психическими заболеваниями</p>
        <p>С наркотической и алкогольной зависимостями</p>
        <p>С детьми до 15 лет</p>
        <p>Не веду совместный приём семейных пар</p>      </div>
    </div>

    <!-- <div>
      <h2>Мой подход к работе</h2>
      <div>
        <p>ДОБРОВОЛЬНОСТЬ</p>
        <p>Помощь оказывается только при добровольном обращении клиента</p>
      </div>
      <div>
        <p>КОНФИДЕНЦИАЛЬНОСТЬ</p>
        <p>Соблюдается полная конфиденциальность</p>
      </div>
      <div>
        <p>ПРОФ КОМПЕТЕНТНОСТЬ</p>
        <p>Я не учу жизни и не даю советов, не ставлю диагнозов и не занимаюсь медикаментозным лечением</p>
      </div>
      <div>
        <p>БЕРЕЖНЫЙ ПОДХОД</p>
        <p>На консультации вы можете свободно и безопасно проявлять себя. Я вас услышу, пойму и поддержу</p>
      </div>
    </div> -->
</section>
