<section class="why-choose">
  <div class="why-choose-container">
    <div class="why-choose__top">
      <div>
        <p>
          We appreciate you thinking about XiztDevOps as your strategic partner. Our skilled development team is
          committed to produce unique solutions that address your demands and support the accomplishment of your
          business objectives.
        </p>

        <a href="../pages/faq.html" class="btn-black">Вопросы и ответы →</a>
      </div>
      <h2 id="line-why-text">Почему <span>стоит</span> <br> выбрать меня?</h2>
    </div>

    <div class="why-choose__cards">
      <div class="w_card">
        <div class="card__number">01</div>
        <div class="card__image">
          <img src="../assets/img/5.jpg" alt="Icon 1">
        </div>
        <h3>Работаю с первопричиной</h3>
      </div>

      <div class="w_card">
        <h3>Быстрое решение проблемы</h3>
        <div class="card__image">
          <img src="images/hexagon.svg" alt="Icon 2">
        </div>
        <div class="card__number">02</div>
      </div>

      <div class="w_card">
        <div class="card__number">03</div>
        <div class="card__image">
          <img src="images/loop.svg" alt="Icon 3">
        </div>
        <h3>Индивидуальный подход и конфиденциальность</h3>
      </div>
    </div>
  </div>
</section>